:root {
  --primary: #C778DD;   
  --white: #FFFFFF;   
  --gray: #ABB2BF;   
  --background: #282C33;  
}
.text-primary {
  color: var(--primary);
}

.text-white {
  color: var(--white);
}

.text-gray {
  color: var(--gray);
}

.bg-background {
  background-color: var(--background);
}

body {
  background-color: var(--background);
  color: var(--white);
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
}